@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

$light-green: #9fdeaf;
$light-blue: #96dbe2;

.wrapper {
  display: block;
  margin: auto;
  font-family: 'Raleway', sans-serif;
}

.left {
  position: fixed;
  left: 0;
  top: 0;
  width: 55%;
  height: 100%;
  background: linear-gradient(to right, $light-green, $light-blue);
  color: #fff;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.left.dark {
  background: linear-gradient(to right, #2a5470, #4c4177);
}

.right {
  position: fixed;
  right: 0px;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imagelabel {
  margin-top: 35px;
  margin-left: 70px;
  font-size: 46px;
  line-height: 56px;
  font-weight: bold;
  width: 700px;
}

.signinlabel {
  font-size: 48px;
  text-align: center;
  margin-left: 0px;
  margin-top: -25px;
}

.imagesignup {
  width: 670px;
  height: 460px;
}

.sign {
  width: 600px;
  height: 500px;
  padding: 16px;
}

.textsign {
  color: $light-blue;
  font-size: 46px;
  line-height: 32px;
  font-weight: bold;
  padding-top: 8px;
}

.textsign.dark {
  color: #4c4177;
}

.plink {
  padding-right: 290px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.plinksignup {
  padding-right: 280px;
}

.link {
  text-decoration-line: underline;
  color: black;
}

.divinput {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
}

.inputlabel {
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
}

.input {
  padding: 12px;
  border: none;
  font-size: 14px;
  padding: 15px;
  width: 500px;
  font-weight: 300;
  background-color: #e4e4e494;
  letter-spacing: 1.5px;
  padding-left: 20px;
}

div {
  .sign {
    .right {
      box-sizing: initial;
    }
  }
}

.button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: $light-blue;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 35px;
  &:hover {
    background: #a3cace;
  }
}

.button.dark {
  background: #4c4177;
}
.form button:active,
.form button:focus {
  background: #a3cace;
}

@media (max-width: 1360px) {
  .imagesignup {
    width: 470px;
    height: 300px;
  }

  .input {
    width: 300px;
  }

  .sign {
    width: 450px;
  }

  .signinlabel {
    margin-top: -90px;
  }

  .plinksignup {
    padding-right: 80px;
  }

  .plinksignin {
    padding-right: 0px;
    padding-left: 55px;
  }

  .textsign {
    padding-left: 55px;
  }

  .imagelabel {
    width: 450px;
  }
}

@media (max-width: 960px) {
  .imagesignup {
    width: 300px;
    height: 180px;
  }
  .imagelabel {
    font-size: 40px;
    width: 300px;
  }

  .signinlabel {
    margin-top: -100px;
  }

  .input {
    width: 200px;
  }

  .sign {
    width: 320px;
  }

  .plinksignup {
    padding-left: 40px;
  }

  .plinksignin {
    padding-right: 0px;
    padding-left: 45px;
  }

  .textsign {
    padding-left: 40px;
  }
}

@media (max-width: 700px) {
  .signinlabel {
    margin-top: -100px;
  }

  .input {
    width: 240px;
  }

  .left {
    width: 0%;
  }

  .right {
    width: 100%;
    position: static;
    margin: auto;
  }

  .sign {
    width: 320px;
  }

  .plinksignup {
    padding-left: 20px;
  }

  .plinksignin {
    padding-right: 0px;
    padding-left: 20px;
  }

  .textsign {
    padding-left: 20px;
    font-size: 36px;
  }
}
