/*.card-img-top {*/
/*    border: 2px solid lightgray;*/
/*    margin-left: 5%;*/
/*    margin-top: 5%;*/
/*    width: 90%;*/
/*    height: 200px;*/
/*}*/

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    height: 440px;
    width: 400px;
    row-gap: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.product-thumb img {
    border: rgb(150, 150, 150, 0.7) solid 1px;
    border-radius: 5px;
    max-width: 110%;
    max-height: 100%;
}

.icon-data {
    padding-top: 0;
    margin-bottom: 0;
}

.item-wrapper {
    display: flex;
    justify-content: space-between
}

.wrapper-left .icon-data {
    font-size: 20px;
    padding: 7px;
    margin-left: 20px;
}

.wrapper-right .icon-data {
    font-size: 20px;
    padding: 7px;
    margin-right: 20px;
}


.product-details {
    padding: 0 20px 20px 20px;
}

.product-details a h5 {
    font-weight: 650;
    font-size: 24px;
    display: block;
    text-align: center;
    height: 30px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    color: #999;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-size: 23px;
    font-weight: 600;
    color: #4E4C97;
}

.color-text {
    font-size: 15px;
    font-weight: 600;
    color: #999;
}

.unavailable {
    max-width: 90px;
    font-size: 15px;
    font-weight: 600;
    color: #e86868;
}

/*.btn.btn2 {*/
/*    background-color: #4E4C97;*/
/*    color: #fff;*/
/*}*/

/*.btn.btn2:hover {*/
/*    background-color: #6c69d2;*/
/*}*/

.btn.btn2 {
         color: #fff;
         background-color: #4E4C97;
         font-size: 16px;
         font-weight: 600;
         letter-spacing: 0.5px;
         text-transform: capitalize;
         width: 150px;
         padding: 8px;
         border: 2px solid #4E4C97;
         border-radius: 15px;
         display: inline-block;
         transition: all 0.3s ease 0s;
    }

.btn.btn2:hover,
.btn.btn2:focus{
     color: #4E4C97;
     background-color: #fff;
     box-shadow: 0 0 5px #4E4C97, 0 0 15px #4E4C97 inset;
}


/*filter*/

.myBtnContainer.btn-group{
    border: 1px solid;
    border-radius: 5px;
    background-color: #e3dcec;

    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
}


.filterDiv {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    float:left;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.myBtnContainer.btn-group .btn.active {
    background-color: #4E4C97;
    color: white;
}