{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Electric Cars{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block style_css %}{% endblock %}
    {% block head %}{% endblock %}
    <style>
        @media (min-width: 768px) {
            .dropdown:hover
            .dropdown-menu{
                margin-top:0;
                min-width: 5rem;
                display:block
            }
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">EV_chargers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'map_ya' %}">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rent' %}">Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'service_request' %}">Service Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown" style="position: absolute; right: 40px">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">{{ user }}</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 5rem">
                        <a class="dropdown-item" href="{% url 'profile' %}">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item" style="position: absolute; right: 30px">
                    <a class="nav-link" href="{% url 'login' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block cnt %}{% endblock %}
{% block content %}{% endblock %}

</body>
</html>