body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

#search-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#location-input {
  font-size: 16px;
  padding: 10px;
}

select {
  font-size: 16px;
  margin-left: 20px;
  padding: 10px;
}

button[type="submit"] {
  background-color: lightgray;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

#map {
  height: 500px;
  width: 100%;
}

#charging-stations {
  background-color: white;
  padding: 20px;
}

.charging-station {
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 20px;
}

.charging-station h2 {
  margin-bottom: 10px;
}



/* body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

#search-container {
  background-color: white;
  padding: 20px;
  text-align: center;
}

#location-input {
  font-size: 16px;
  padding: 10px;
}

button[type="submit"] {
  background-color: lightgray;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

#map {
  height: 500px;
  width: 100%;
}

#charging-stations {
  background-color: white;
  padding: 20px;
} */
