{% extends 'base.html' %}
{% load static %}

{% block style_css %}
    <link rel="stylesheet" href="{% static 'EV_rent/css/rent_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 80px;">
        <div class="row">
            {% for car in cars %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ car.image.url }}" alt="{{ car.car_brand }} {{ car.model }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.car_brand }} {{ car.model }}</h5>
                            <p class="card-text">{{ car.year }} | {{ car.range_km }}km | ${{ car.rent_price }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'model_info' model=car.url_page %}"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="{% url 'rental_request' %}" class="btn btn-sm btn-outline-secondary">Rent</a>
                                </div>
                                <small class="text-muted">{{ car.created_at }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
