{% extends 'base.html' %}
{% load static %}

{% block cnt %}
{#<div class="row">#}
{#        <div class="col-md-8">#}

<table class="table table-bordered table-striped">
<h2>{{ car.car_brand }} {{ car.model }}</h2>
<img class="img-fluid" src="{{ car.image.url }}" alt="{{ car.car_brand }} {{ car.model }}">

<div class="row mt-3">
    <div class="col-md-6">
        <div class="row">
            <div class="col-6 col-md-4">Brand:</div>
            <div class="col-6 col-md-8">{{ car.car_brand }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Model:</div>
            <div class="col-6 col-md-8">{{ car.model }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Year:</div>
            <div class="col-6 col-md-8">{{ car.year }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Type:</div>
            <div class="col-6 col-md-8">{{ car.charge_type }}</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-6 col-md-4">HorsePower:</div>
            <div class="col-6 col-md-8">{{ car.horse_power }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Range:</div>
            <div class="col-6 col-md-8">{{ car.range_km }} miles</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Seats:</div>
            <div class="col-6 col-md-8">{{ car.num_sits }}</div>
        </div>
        <div class="row">
            <div class="col-6 col-md-4">Price:</div>
            <div class="col-6 col-md-8">${{ car.rent_price }}</div>
        </div>
    </div>
</div>

<div>
            <div class="col-6 col-md-4">Description:</div>
            <div class="col-6 col-md-8">{{ car.description }}</div>
</div>

</table>

{% endblock %}
