{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{#ДОБАВИТЬ ОТОБРАЖЕНИЕ ЦЕНЫ ДЛЯ АРЕНДЫ: ЦЕНА * ДНИ#}

{% block title %} {% trans 'Rental Request' %} {% endblock %}

{% block meta %}
    {% if not user.is_authenticated %}
        <meta http-equiv="refresh" content="3;URL={% url 'login' %}"/>
    {% endif %}
{% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {% if user.is_authenticated %}
        <link rel="stylesheet" type='text/css' href="{% static 'users/css/sign_css.css' %}">
    {% endif %}
{% endblock %}

{% block cnt %}
    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="offset-md-4 col-md-4 offset-sm-3 col-sm-6">
                <div class="form-container">
                    <h3 class="title">{% trans "Rental Request" %} - {{ car.car_full_name }}</h3>

                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="person" value="{{ user.pk }}">
                        <input type="hidden" id="price" name="price" value="{{ car.rent_price }}">
                        {#                        <div class="form-group">#}
                        {#                            <input class="form-control" type="text" name="first_name" id="id_first_name"#}
                        {#                                   placeholder="First Name" value={{ person.first_name }}>#}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <input class="form-control" type="text" name="last_name" id="id_last_name"#}
                        {#                                   placeholder="Last Name" value={{ person.last_name }}>#}
                        {#                        </div>#}
                        {#                        <div class="form-group">#}
                        {#                            <input class="form-control" type="email" name="email" id="id_email" placeholder="Person"#}
                        {#                                   value={{ person.email }}>#}
                        {#                        </div>#}
                        <div class="form-group">
                            <span class="description"
                                  style="text-align: left; margin-bottom: 0">{% trans 'First Name' %}:</span>
                            <p class="form-control"
                               style="text-align: left; cursor: pointer; font-size: 17px">{{ user.first_name }}</p>
                        </div>

                        <div class="form-group">
                            <span class="description" style="text-align: left; margin-bottom: 0">{% trans 'Last Name' %}:</span>
                            <p class="form-control"
                               style="text-align: left; cursor: pointer; font-size: 17px">{{ user.last_name }}</p>
                        </div>

                        <div class="form-group">
                            <span class="description" style="text-align: left; margin-bottom: 0">E-mail:</span>
                            <p class="form-control"
                               style="text-align: left; cursor: pointer; font-size: 17px">{{ user.email }}</p>
                        </div>

                        <div class="form-group">
                            <label for="id_num_days" class="description"
                                   style="text-align: left; margin-bottom: 0">{% trans 'Number of Days' %}:</label>
                            <input class="form-control" type="number" id="id_num_days" name="num_days" min="1" max="30"
                                   placeholder="{% trans 'Number of Days' %}" style=" font-size: 17px">
                        </div>

                        <div class="form-group">
                            <label for="total-price" class="description"
                                   style="text-align: left; margin-bottom: 0">{% trans 'Total Cost' %}:</label>
                            <div class="input-group">
                                <div class="input-group-text"
                                     style="background: #F7F8F9; border: 2px solid #eef0f1; color: #4E4C97; font-size: 16px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                         class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
                                    </svg>
                                </div>
                                <input class="form-control" type="text" id="total-price" name="total_price" readonly
                                       style="text-align: left; cursor: pointer; font-size: 17px; margin-bottom: 0; padding-left: 5px">
                            </div>


                            <p class="description">{% trans 'Your discount is' %}: <span id="discount"></span></p>
                        </div>

                        <button type="submit" class="btn signup">Submit</button>
                    </form>
                </div>
            </div>
        </div>

    {% else %}

        <p style="height: 700px; margin-top: 300px; font-size: 34px; text-align: center">
            {% trans 'You are not authorized! You will be redirected to the login page..' %}
        </p>

    {% endif %}

{% endblock %}

{% block script %}
    <script>
        // Получаем элементы формы
        const priceInput = document.getElementById('price');
        const rentalDaysInput = document.getElementById('id_num_days')
        const totalPriceInput = document.getElementById('total-price');
        const discountLabel = document.getElementById('discount');

        // Функция для вычисления и обновления значения Total Price
        function updateTotalPrice() {
            const price = parseFloat(priceInput.value.replace(',', '.'));
            let rentalDays = isNaN(parseInt(rentalDaysInput.value)) ? 1 : parseInt(rentalDaysInput.value);
            let totalPrice;
            let discount;

            //Ограничение ввода количества дней
            if (rentalDays < 1) {
                rentalDays = 1;
            } else if (rentalDays > 30) {
                rentalDays = 30;
            }
            rentalDaysInput.value = rentalDays;

            //Присваивание скидки и вычисленние итоговой стоимости
            if (rentalDays >= 1 && rentalDays < 5) {
                totalPrice = (price * rentalDays);
                discount = '0%'
            } else if (rentalDays >= 5 && rentalDays < 10) {
                totalPrice = (price * rentalDays) * 0.9;
                discount = '10%'
            } else if (rentalDays >= 10 && rentalDays < 20) {
                totalPrice = (price * rentalDays) * 0.75;
                discount = '25%'
            } else if (rentalDays >= 20 && rentalDays < 31) {
                totalPrice = (price * rentalDays) * 0.5;
                discount = '50%'
            }

            totalPriceInput.value = totalPrice.toFixed(2);
            discountLabel.innerHTML = discount
        }

        // Обновляем значение Total Price при изменении значений в полях Price и Rental Days
        priceInput.addEventListener('input', updateTotalPrice);
        rentalDaysInput.addEventListener('input', updateTotalPrice);
    </script>
{% endblock %}

